/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore
drivers

/tests/Application/yarn.lock

/.phpunit.result.cache
/phpunit.xml
/phpstan.neon
/behat.yml

# Symfony CLI https://symfony.com/doc/current/setup/symfony_server.html#different-php-settings-per-project
/.php-version
/php.ini
