imports:
    - tests/Behat/Resources/suites.yaml

default:
    formatters:
        pretty: true

    extensions:
        Lakion\Behat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"
            base_url: "https://localhost:8080/"
            default_session: symfony
            javascript_session: chrome
            sessions:
                symfony:
                    symfony: ~
                chrome:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ""
                            chrome:
                                switches:
                                    - "--start-fullscreen"
                                    - "--start-maximized"
                                    - "--no-sandbox"
                                    - "--headless"
                                    - "--disable-gpu"
                                    - "--ignore-certificate-errors"
                            extra_capabilities:
                                unexpectedAlertBehaviour: accept
                                goog:chromeOptions:
                                    w3c: false # https://github.com/Sylius/Sylius/issues/10561
                firefox:
                    selenium2:
                        browser: firefox
            show_auto: false

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Application/config/bootstrap.php
            kernel:
                class: Tests\FluxSE\SyliusPayumStripePlugin\Application\Kernel

        FriendsOfBehat\VariadicExtension: ~
