parameters:
    reportUnmatchedIgnoredErrors: false

    level: max

    paths:
        - src
        - tests/Behat
        - tests/Unit

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
        - '/Parameter #1 \$request \(Payum\\Core\\Request\\Convert\) of method FluxSE\\SyliusPayumStripePlugin\\Action\\ConvertPaymentAction::execute\(\) should be contravariant with parameter \$request \(mixed\) of method Payum\\Core\\Action\\ActionInterface::execute\(\)/'
        - '/Parameter #1 \$request \(Payum\\Core\\Request\\Convert\) of method FluxSE\\SyliusPayumStripePlugin\\Action\\StripeJs\\ConvertPaymentAction::execute\(\) should be contravariant with parameter \$request \(mixed\) of method Payum\\Core\\Action\\ActionInterface::execute\(\)/'

        - message: '/Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::(once|andReturnUsing)\(\)\./'
          paths:
              - tests/Behat/Mocker/Api/CheckoutSessionMocker.php
              - tests/Behat/Mocker/Api/PaymentIntentMocker.php
              - tests/Behat/Mocker/Api/RefundMocker.php
