parameters:
    reportUnmatchedIgnoredErrors: false

    level: max

    paths:
        - src
        - tests/Behat
        - tests/Unit

    ignoreErrors:
        - identifier: return.unusedType
        - identifier: missingType.generics
          path: src/Form/Type/StripeGatewayConfigurationType.php
        - identifier: argument.type
          path: tests/Behat/Mocker/PayumActionMocker.php
        - identifier: staticMethod.unresolvableReturnType
          path: tests/Behat/Mocker/PayumActionMocker.php
