<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <defaults public="true" />

        <service id="tests.flux_se.sylius_payum_stripe_plugin.behat.context.setup.stripe"
                 class="Tests\FluxSE\SyliusPayumStripePlugin\Behat\Context\Setup\StripeContext">
            <argument type="service" id="sylius.behat.shared_storage" />
            <argument type="service" id="sylius.repository.payment_method"/>
            <argument type="service" id="sylius.fixture.example_factory.payment_method"/>
            <argument type="service" id="sylius.manager.payment_method"/>
        </service>

        <service id="tests.flux_se.sylius_payum_stripe_plugin.behat.context.ui.admin.managing_payment_methods"
                 class="Tests\FluxSE\SyliusPayumStripePlugin\Behat\Context\Ui\Admin\ManagingPaymentMethodsContext">
            <argument type="service" id="tests.flux_se.sylius_payum_stripe_plugin.behat.page.admin.payment_method.create" />
        </service>

        <service id="tests.flux_se.sylius_payum_stripe_plugin.behat.context.ui.admin.managing_orders"
                 class="Tests\FluxSE\SyliusPayumStripePlugin\Behat\Context\Ui\Admin\ManagingOrdersContext">
            <argument type="service" id="sm.factory" />
            <argument type="service" id="sylius.manager.order" />
            <argument type="service" id="tests.flux_se.sylius_payum_stripe_plugin.behat.mocker.stripe_checkout_session_mocker" />
        </service>

        <service id="tests.flux_se.sylius_payum_stripe_plugin.behat.context.ui.shop.stripe_checkout_session"
                 class="Tests\FluxSE\SyliusPayumStripePlugin\Behat\Context\Ui\Shop\StripeCheckoutSessionShopContext">
            <argument type="service" id="tests.flux_se.sylius_payum_stripe_plugin.behat.mocker.stripe_checkout_session_mocker"/>
            <argument type="service" id="sylius.behat.page.shop.checkout.complete"/>
            <argument type="service" id="sylius.behat.page.shop.order.show"/>
            <argument type="service" id="tests.flux_se.sylius_payum_stripe_plugin.behat.page.external.stripe_checkout_session"/>
        </service>

        <service id="tests.flux_se.sylius_payum_stripe_plugin.behat.context.ui.shop.stripe_js"
                 class="Tests\FluxSE\SyliusPayumStripePlugin\Behat\Context\Ui\Shop\StripeJsShopContext">
            <argument type="service" id="tests.flux_se.sylius_payum_stripe_plugin.behat.mocker.stripe_js_mocker"/>
            <argument type="service" id="sylius.behat.page.shop.checkout.complete"/>
            <argument type="service" id="sylius.behat.page.shop.order.show"/>
            <argument type="service" id="tests.flux_se.sylius_payum_stripe_plugin.behat.page.external.stripe_js"/>
        </service>

        <service id="tests.flux_se.sylius_payum_stripe_plugin.behat.context.api.shop.cart"
                 class="Tests\FluxSE\SyliusPayumStripePlugin\Behat\Context\Api\Shop\CartContext">
            <argument type="service" id="sylius.behat.api_platform_client.shop" />
            <argument type="service" id="Sylius\Behat\Client\ResponseCheckerInterface" />
            <argument type="service" id="sylius.behat.shared_storage" />
            <argument type="service" id="tests.flux_se.sylius_payum_stripe_plugin.behat.mocker.stripe_checkout_session_mocker" />
            <argument type="service" id="tests.flux_se.sylius_payum_stripe_plugin.behat.mocker.stripe_js_mocker" />
        </service>

    </services>
</container>
